<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DataSharing WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DataSharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - DataSharing WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EEE93CB1BF2636C008C308C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EEE93DF1BF2636D008C308C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EEE93EA1BF2636D008C308C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EEE93F31BF2636D008C308C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
